# --- Django ---
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# --- Ambientes Virtuais (Python) ---
venv/
env/
.env
.venv/
build/
dist/
*.egg-info/

# --- IDEs / Editores ---
.idea/
.vscode/
*.swp
*.swo
.DS_Store